<p>Wir helfen dir gerne, ein Produkt zu erfassen:</p>

<form class="layout" [formGroup]="form">
  <app-upload-zone class="card"></app-upload-zone>
  <div class="spacer"></div>
  <div class="card">
    <p class="layout__row-2">
      <span>Inventarnummer:</span>
      <span>_______________</span>
    </p>
    <p>Für den Leiher sichtbar:</p>

    <div class="layout__row-2 input-container">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name" />

      <label for="category">Kategorie</label>
      <input type="text" id="category" formControlName="category" />

      <label for="description">Beschreibung</label>
      <input type="text" id="description" formControlName="description" />

      <label for="condition">Zustand</label>
      <input type="text" id="condition" formControlName="condition" />

      <label for="delivery">Lieferung</label>
      <input type="checkbox" id="delivery" formControlName="delivery" />
    </div>
  </div>
  <div class="card">
    <iframe
      width="100%"
      height="100%"
      src="https://www.openstreetmap.org/export/embed.html?bbox=13.270282745361328%2C52.469919707415414%2C13.49550247192383%2C52.565082010452095"
      style="border-radius: var(--border-radius)"
    ></iframe>
  </div>
</form>

<div class="row">
  <button type="submit">Produkt einstellen</button>
</div>
