.layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.card {
  border: 1px solid var(--dark-gray);
  padding: 1rem;
  border-radius: 5px;
  min-height: 200px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  gap: 1rem;

  .form-input {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;

    input {
      width: max-content;
    }
  }
}
