/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #d5e1d7;
  --light-gray: #efeff1;
  --dark-gray: #cdcdcd;
  --copy: #1f1f1f;

  --border-radius: 5px;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background-color: var(--primary);
  border-radius: var(--border-radius);
  border: 1px solid var(--dark-gray);
  padding: 0.25rem 1.5rem;
  margin: 1rem;
}

input {
  border-radius: var(--border-radius);
  border-style: solid;
  padding: 6px;

  &:focus {
    border-color: var(--primary);
  }
}
